{{!-- {{#each this}}
<li> <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a></li>
{{/each}} --}}


<ul class="list">
    {{#each this}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>